body{
    background-color: black;
    margin: 10px;
}
main{
    height: 100vh;
}
.navigation .logo{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
}
.navigation .logo .point1{
    width: 80px;
    padding: 5px;
    margin-right: 10px;
}
.navigation .logo .menuButton .dingbat{
    width: 40px;
    padding: 5px;
    font-size: 1.5rem;
}
.navigation .logo .point3{
    width: 40px;
    padding: 5px;
    margin-right: 10px;
}
.navigation .links {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: black;
    opacity: 90%;
}
.navigation .links li{
    display: none;
}
.navigation .links li:hover{
    background-color: white;
}
.navigation .links li a{
    text-decoration: none;
    display: block;
    color: white;
    margin: 2px;
    padding: 10px;
}
.navigation .links li a:hover{
    color: black;
}
.navigation .responsive li{
    display: block;
    z-index: +1;
}
.navigation .responsive{
    position: fixed;
    width: 300px;
    height: 100vh;
    animation: mymove 1s;
}
@keyframes mymove{
    from {left: -400px;}
    to {left: 0px}
}
.homePage .homeBanner img{
    width: 100%;
    margin-bottom: 50px;
}
.homePage .homeCategories{
    margin-bottom: 20px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
.homePage .homeCategories .homeCards{
    flex: 1 1 100%;
    width: 60px;
    height: 70px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.homeCards:hover{
    transition-duration: 1s;
    transform: scale(1.2);
}
.homePage .homeCategories .homeCards img{
    width: 50px;
    height: 50px;
}
.homePage .homeCategories .homeCards a{
    text-decoration: none;
    color: white;
}
footer{
    background-color: black;
}
footer p{
    color: white;
    padding: 5px;
    text-align: center;
    font-size: .7rem;
}