body{
    background-color: black;
    height: 100vh;
}
header{
    background-color: black;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
}
.navigation .logo{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
}
.navigation .logo button{
    margin: 5px;
}
.navigation .logo .point1{
    width: 80px;
    padding: 5px;
    margin-right: 10px;
}
.navigation .logo .menuButton .dingbat{
    width: 40px;
    font-size: 1.5rem;
}
.navigation .logo .menuButton{
    width: 70px;
}
.navigation .logo .point4 .point3{
    width: 40px;
    padding: 5px;
    margin-right: 10px;
}
.navigation .logo a{
    text-align: right;

}
.navigation .links {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: black;
    opacity: 95%;
}
.navigation .logo .menuButton2{
    display: none;
}
.navigation .links li{
    display: none;
}
.navigation .links li:hover{
    background-color: white;
}
.navigation .links li a{
    text-decoration: none;
    display: block;
    color: white;
    margin: 2px;
    padding: 10px;
}
.navigation .links li a:hover{
    color: black;
}
.navigation .responsive li{
    display: block;
    
}
.navigation .responsive li a:hover{
    margin-left: 30px;
    transform: scale(1.1);
    color: orange;
}
.navigation .responsive{
    border-top: 5px solid orange;
    position: fixed;
    top: 52px;
    width: 100vw;
    height: 100vh;
    animation: mymove 1s;
}
.navigation .responsive2 .menuButton{
    display: none;
}
@keyframes mymove{
    from {left: -400px;}
    to {left: 0px}
    from {background-color: gray;}
    to {background-color: black;}
}
main{
    margin-bottom: 100px;
}
.homePage .homeBanner{
    display: flex;
    flex-direction: column;
}
.homePage .homeBanner img{
    width: 100%;
    margin-bottom: 50px;
}
.homePage .homeCategoriesWrapper .homeCategories{
    display: none;   
}
.homePage .responsive3 .homeCategories{
    display: flex;
    flex-direction: row;
}
.homePage .responsive3{
    position: relative;
    top: 0px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    animation: slideup 2s;   
}
@keyframes slideup{
    from {top: 200vh;}
    to {top: 0px}
}
.homePage .homeCategories .homeCards{
    flex: 1 1 100%;
    width: 60px;
    height: 70px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.homeCards:hover{
    transition-duration: 1s;
    transform: scale(1.2);
}
.homePage .homeCategories .homeCards img{
    width: 50px;
    height: 50px;
}
.homePage .homeCategories .homeCards a{
    text-decoration: none;
    color: white;
}
footer{
    background-color: black;
    border-top: 1px solid white;
}
footer p{
    color: white;
    padding: 0;
    margin: 2px;
    text-align: center;
    font-size: .6rem;
}


/** CATALOGUE VIEW **/
.cataloguePage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.cataloguePage section{
    width: 100px;
    height: 200px;
    margin: 2px;
    margin-bottom: 100px;
}
.cataloguePage section img{
    width: 90px;
    height: 150px;
}
.cataloguePage section p{
    color: white;
    font-size: .6rem;
    margin: 0;
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid white;
}
.cataloguePage section button{
    background-color: orange;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    font-size: .8rem;
    width: 100px;
    margin-top: 10px;
}


/** SHOES/JOGGERS/DRESSES VIEW **/
.cards, .cards2, .cards3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards section, .cards2 section, .cards3 section, .searchedItems section{
    margin: 10px;
    background-color: white;
    width: 200px;
    padding: 5px;
    margin: 5px; 
    margin-bottom: 20px; 
}
.cards section img, .cards2 section img, .cards3 section img, .searchedItems section img{
    width: 99%;
    margin: 0 auto;
}
.cards section p, .cards2 section p, .cards3 section p, .searchedItems section p{
    color: black;
    border-bottom: 1px solid black;
    margin: 0;
    text-align: center;
}
.cards section .addToCartButton, .cards2 section .addToCartButton, .cards3 section .addToCartButton, .searchedItems section .addToCartButton{
    width: 90%;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 5px 10px;
    background-color: orange;
    border: 0;
    color: black;
    font-size: 1.2rem;
    border-radius: 5px;
}

/** CART PAGE / PAYMENT FORM**/
.cartPage{
    color: white;
}
.cartPage div h2{
    text-align: center;
}
.cartPage div section{
    margin-bottom: 20px;;
}
.cartPage div .divider{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.cartPage div .divider section img{
    width: 90%;
    margin: 0 auto;
}
.cartPage div .divider section p{
    border-bottom: 1px solid white;
    font-size: 1rem;
    padding: 2px;
    margin: 0;
}
.cartPage div .total{
    padding: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    background-color: orange;
    text-align: center;
    margin: 10px;
}
main .paymentForm{
    width: 300px;
    background-color: orange;
    margin: 0 auto;
    padding-bottom: 30px;
}
main .paymentForm fieldset{
    text-align: center;
    margin: 10px;
    border-color: black;
}
main .paymentForm .pInfo{
    color: black;
}
main .paymentForm .pInfo input{
    padding: 10px;
    margin-bottom: 20px; 
    border: 1px solid black;
    font-size: 1.2rem;
    width: 180px;
    border-radius: 5px;
}
main .paymentForm legend{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}
main .paymentForm .paymentBtn{
    display: block;
    width: 90%;
    height: 40px;
    margin: 0 auto;
    background-color: black;
    box-shadow: 0 2px 20px black;
    color: white;
    border: 0;
    padding: 5px;
    font: 1.3rem;
    border-radius: 5px;
}
main .paymentForm .paymentBtn:active{
    background-color: gray;
}
/**ABOUT PAGE**/
.aboutPage{
    
    padding: 5px;
    margin: 10px;
    margin-top: 100px;
}
.aboutPage h1{
    color: white;
    text-align: center;
}
.aboutPage p{
    color: white;
    text-align: justify;
}

/** CHECKUT PAGE **/
.main-cart-payment{
    margin-top: 100px;
}
.checkoutPage .pInfo{
    color: white;
}

body main{
    margin-top: 50px;
}

/** SEARCHED ITEM VIEW**/
.searchDivWrapper{
    position: absolute;
    margin-top: 10px;
    right: 10px;
    
}
.searchDiv{
    display: flex;
    flex-direction: row;
}
.searchDiv .divider{
    display: flex;
    flex-direction: column;
}
.searchDiv .searchButton span{
    font-size: 1.5rem;
    font-weight: bolder;
}
.searchDiv .searchButton{
    width: 40px;
    height: 30px;
    border-radius: 5px;
    padding: 3px;
    margin-left: 2px;
    border: none;   
    background-color: orange;
}
.searchDiv .searchButton:hover{
    background-color: gray;
    border-radius: 5px;}
.searchDiv .searchBox{
    border-radius: 5px;
    padding: 3px;
    width: 120px;
    opacity: 80%;
    border: 2px solid orange;
}
.searchDiv .searchedItems{
    height: 50vh;
    position: absolute;
    margin-top: 5px;
    right: 0px;
 }


 /**SUCCESS PAGE**/
 .success-page h1{
    margin-top: 100px;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: green;
 }
 .success-page a{
    color: white;
    display: block;
    text-align: center;
    margin-bottom: 100px;
 }